*{
    margin:0;
    box-sizing: border-box;
    font-family: "CustomFont";
}
@font-face {
    font-family: "CustomFont"

}
.page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cover{
    background-color: white;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0.188em 1.55em rgb(100,156,156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.alt-login{
    width: 80%;
    height: 3em;
    display: flex;
    justify-content: space-around;
}
.alt-login{
    width: 45%;
    height: 50%;
    border-radius: 0.25em;
    background-color:white;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
input{
    border: none;
    background-color: rgb(229,226,226);
    height: 4em;
    width: 80%;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;
}
input:focous{
 outline-color: rgb(32,177,255);
}
.btn{
    width: 40%;
    height: 3em;
    margin-top: 2em;
    background-color: rgb(32,177,255);
    display: flex;
    align-items: center;
    transition: 0.25em;
    cursor: pointer;
}
.hide{
    display: none;
}
.text{
    position: relative;
    
    bottom: -2rem;
}
.login-popup{
    position: absolute;
    height: 30em;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.25em;
    background-color: black;
    color: white;
    bottom: 0;
    transform: scale(1);
    transform: 2.5s;
}